@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Regular.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Bold.otf') format('opentype');
  font-weight: 700;
}


.text {
  font-family: 'Liberation Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #3B3B3B;
}

h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8em;
  font-weight: 700;
  text-align: center;
  line-height: 0.8em;
  color: white;
  padding: 0.5em;
  margin-top: 0rem;
}

.header{
 /*background: #FFC800; #FDBB2D
 background-color: #FDBB2D;
    background: #33759c;
  background: radial-gradient(circle,rgba(35, 204, 207, 1) 0%, rgba(35, 181, 207, 1) 50%, rgba(51, 117, 156, 1) 100%);
   background: #33759c;
  background: linear-gradient(0deg,rgba(51, 117, 156, 1) 0%, rgba(35, 181, 207, 1) 50%, rgba(35, 204, 207, 1) 100%);
  */
  background-color: #F6724B;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #3B3B3B;
}

html{
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  height: auto;
}
.image img{
  max-width: 300px;
  width: 100%;
  flex-shrink: 0;
}

.content-component {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sidenav {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  top: 0;
  flex: 0 0 25%;
  margin-right: 1em;
  position: sticky;
  align-self: flex-start;
}

a {
  color: #0A4152;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body{
  margin: 0;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.content {
  flex: 1;
  margin-bottom: 3em;
}