@import './base.css';
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Regular.otf'); format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/Bebas_Neue/BebasNeue-Bold.otf'); format('opentype');
  font-weight: 700;
}



#app {
  max-width: 1000px;
  margin: 0 auto;
}

.text {
  font-family: 'Liberation Sans', sans-serif;
  font-size: 1.2em;
}
h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  font-weight: 700;
}

