img{
    max-width: 100%;
    height: auto;
}
.image img{
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
}

.content-component {
    display: flex;
    align-items: center;
    gap: 2rem;

}

.content-text {
    flex: 1;
}